@import "Essentials/reset";
@import "Essentials/theme";
@import "Essentials/mixins";

body {
	color: $cy_font_color;
	@include font-size(14px);
	font-family: $cy_font_stack;
	overflow: hidden;
	position: fixed;
	width: 100vw;
	height: 100vh;
}