.GamesMenu {
  position: absolute;
  width: 20vw;
  height: 100vh;
  right: 100vw;
  top: 0;
  padding-top: $navbar_height;
  box-sizing: border-box;
  background-color: desaturate($cy_gray, 10%);
  z-index: 1;
  @include transition(transform 125ms ease-out);
  a {
    display: block;
    background-color: lighten(desaturate($cy_off_white, 20%), 20%);
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 1.2em;
    color: $cy_font_color;
    @include transition(background-color 75ms ease);
  }
  a:hover {
    background-color: lighten(desaturate($cy_blue, 40%), 30%);
  }
  a.active {
    background-color: lighten(desaturate($cy_blue, 40%), 50%);
  }
  a + a{
    border-top: 1px solid $cy_off_white;
  }
  @include bp-large {
    width: 40vw;
    z-index: 2;
  }
  @include bp-medium {
    width: 80vw;
  }
  @include bp-small {
    width: 100vw;
  }
}
.GamesMenu::after {
  content: "";
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  @include box-shadow(inset -3px 0 7px -4px rgba(0,0,0,0.5), inset 0 -3px 10px -7px rgba(0,0,0,0.5));
  @include bp-large {
    @include box-shadow(3px 0 7px -4px rgba(0,0,0,0.5), inset 0 -3px 10px -7px rgba(0,0,0,0.5));
    z-index: -1;
  }
}

.GamesMenu.open {
  transform: translateX(100%);
  @include transition(transform 125ms ease-in);
}