@import "Message/_Message";

.ChatBar {
  position: absolute;
  width: 20vw;
  height: 100vh;
  left: 100vw;
  top: 0;
  padding-top: $navbar_height;
  box-sizing: border-box;
  background-color: desaturate($cy_gray, 10%);
  z-index: 1;
}
.ChatBar::after {
  content: "";
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include box-shadow(inset 3px 0 7px -4px rgba(0,0,0,0.5), inset 0 -3px 10px -7px rgba(0,0,0,0.5));
}
.ChatBar.open {
  left: 80vw;
}