.Navbar {
	display: block;
	position: relative;
	width: 100vw;
	height: $navbar_height;
	box-sizing: border-box;
	background-color: $cy_red;
	color: lighten(desaturate($cy_off_white, 1%), 20%);
	vertical-align: middle;
	z-index: 1000;
	@include box-shadow(3px 0 5px rgba(0,0,0,0.5));
	div {
		position: relative;
		width: 33%;
		height: inherit;
		box-sizing: border-box;
		padding: 0.5em 0.5em;
		display: inline-block;
	}
	.navbar-left{
		text-align: left;
		.menu-btn::before {
			content: "";
		}
		.menu-btn::after{
			content: "\f105";
		}
		.menu-btn.open::before {
			content: "\f104";
		}
		.menu-btn.open::after{
			content: "";
		}
		@include bp-medium {
			width: 20%;
		}
	}
	.navbar-middle{
		text-align: center;
		h2 {
			display: inline-block;
		}
		img {
			display: inline-block;
			vertical-align: middle;
			height: 2em;
			width: 2em;
			border-radius: 50%;
			margin: 0 1em;
			&:hover {
				cursor: pointer;
				box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
			}
			@include bp-medium {
				height: 1.75em;
				width: 1.75em;
			}
		}
		@include bp-medium {
			width: 60%;
		}
	}
	.navbar-right{
		text-align: right;
		.menu-btn::before {
			content: "\f104";
		}
		.menu-btn::after{
			content: "";
		}
		.menu-btn.open::before {
			content: "";
		}
		.menu-btn.open::after{
			content: "\f105";
		}
		@include bp-medium {
			width: 20%;
		}
	}
	.menu-btn {
		font-size: 1.5em;
	}
	.menu-btn:hover {
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
		cursor: pointer;
	}
	.menu-btn::after, .menu-btn::before {
		font-family: FontAwesome;
		position: relative;
		display: inline-block;
		margin: 0 0.2em;
		vertical-align: middle;
		pointer-events: none;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	a:hover {
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
		cursor: pointer;
	}
	.settings-btn {
		margin-left: 0.75em;
		font-size: 1.2em;
		transform-origin: center;
		position: relative;
		i::before {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.settings-btn:hover {
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
		cursor: pointer;
		i::before{
			@include animation(spin 4s infinite linear)
		}
	}
}

@include keyframes(spin) {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}