.Navbar {
	display: block;
	position: relative;
	width: 100vw;
	box-sizing: border-box;
	div {
		position: relative;
		width: 33%;
		display: inline-block;
	}
	.navbar-left{
		text-align: left;
	}
	.navbar-middle{
		text-align: center;
	}
	.navbar-right{
		text-align: right;
	}
}